.contact{
    justify-content: center;
    color: black;
    background-color: rgba(128, 128, 128, 0.199);
    height: 600px;
    width: 100%;
    padding: 10px 30px;
}
.under{
  display: flex;
  justify-content: space-evenly;
}
  h2 {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
  }
  .text{
    text-align: left;
    margin-top: 10px;
  }
    
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 500px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 8px;
    background-color: rgb(210, 210, 243);
  }
  
  textarea {
    resize: vertical;
    height: 150px;
  }
  
  button[type="submit"] {
    background-image: linear-gradient(to bottom right,rgb(34, 34, 94),rgb(186, 186, 225));
    color: #000;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  button[type="submit"]:hover {
    background-color: #a9c8e9;
  }
    .error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }
  .fill{
    padding: 3px 70px;
  }
  form{
    margin-top: 20px;
  }
  .locate{
    margin-top: 30px;
  }
  .address{
    text-align: justify;
    margin-top: 7px;
  }
 .find{
  display: flex;
  height: 80px;
 }
 .red{
  width: 30px;
  height: 30px;
 }

  @media screen and (max-width: 600px) {
    input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 8px;
  }
  form{
    margin-top: 20px;
  }
  .under{
    display: block;
  }
  .contact{
    justify-content: center;
    color: black;
    background-color: rgba(128, 128, 128, 0.199);
    height: 1000px;
    width: 100%;
    padding: 10px 30px;
}
.locate{
  margin-top: 50px;
  margin-left: 63px;
}
.find{
  display: flex;
  height: 70px;
 }
  }