.detail {
    color: black;
    background-image: linear-gradient(to bottom right,rgb(34, 34, 94),rgb(186, 186, 225));
    height:200px;
    max-width:100%;
    padding: 10px 30px;
    text-align: center;
}
.detail h1{
    color: black;
    margin-top: 30px;
}
.impact {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    text-decoration: none;
    margin-top: 8px;
    color: rgb(219, 215, 215);
    padding: 3%;
}
.impact li{
  color: black;
  font-size: large;
}
.slider{
    color: black;
    background-color: rgba(128, 128, 128, 0.199);
    height:600px;
    padding: 10px 30px;
    text-align: center;
}
.slider h1{
    color: black;
    margin-top: 80px;
}
.Faqs{
    color: black;
    background-image: linear-gradient(to bottom right,rgb(34, 34, 94),rgb(186, 186, 225));
    height:520px;
    max-width:100%;
    padding: 10px 30px;
    text-align: center;
}
.Faqs h1{
    margin-top: 40px;
}
.Faqs .QI{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 100px;
    gap: 20px;
}
.QI p{
    margin-top: 50px;
    text-align: justify;
    width: 100%;
}
.mp{
    display: flex;
}
.mp1{
    color: black;
    margin-top: 8px;
}
.go{
    width: 35px;
    height: auto;
}
.QI img{
    width: 350px;
    margin-left: 80px;
}
.black-hr{
width: 700px;
}

@media  screen and (max-width: 900px) {
    .impact{
        display: flex;
        width: 750px;
    }
    .detail {
        color: black;
        background-image: linear-gradient(to bottom right,rgb(34, 34, 94),rgb(186, 186, 225));
        height:250px;
        max-width:100%;
        padding: 10px 30px;
        text-align: center;
    }
    .slider {
        width: 100%;
        display: block;
        height: 500px;
    }
      .slider h1{
        color: black;
        margin-top: 30px;
    }
    .Faqs{
        color: black;
        background-image: linear-gradient(to bottom right,rgb(34, 34, 94),rgb(186, 186, 225));
        height:840px;
        max-width:100%;
        padding: 10px 30px;
        text-align: center;
    }
    .Faqs .QI{
        display: grid;
        padding: 20px 20px;
    }
    .image{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .QI img{
        width: 200px;
       margin-top: 50px;
    }
.black-hr{
width: 280px;
} 
.mp{
    display: flex;
}
.mp1{
    color: black;
    margin-top: 8px;
}
.go{
    width: 30px;
    height: auto;
}
}
@media screen and (max-width: 600px) {
    .impact{
        display: flex;
        flex-direction: column;
        row-gap: 14px;
    }
    .detail {
        color: black;
        background-image: linear-gradient(to bottom right,rgb(34, 34, 94),rgb(186, 186, 225));
        height:400px;
        max-width:100%;
        padding: 10px 30px;
        text-align: center;
    }
    .slider {
        width: 100%;
        display: block;
        height: 500px;
    }
      .slider h1{
        color: black;
        margin-top: 30px;
    }
    .Faqs{
        color: black;
        background-image: linear-gradient(to bottom right,rgb(34, 34, 94),rgb(186, 186, 225));
        height:840px;
        max-width:100%;
        padding: 10px 30px;
        text-align: center;
    }
    .Faqs .QI{
        display: grid;
        padding: 20px 20px;
    }
    .image{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .QI img{
        width: 200px;
       margin-top: 50px;
    }
.black-hr{
width: 280px;
} 

}