/* Center the form container */
.form-container{
  justify-content: center;
  color: black;
  background-color: rgba(128, 128, 128, 0.199);
  height: 750px;
  width: 100%;
  padding: 10px 30px;
}

/* Style the form */
.signup-form {
display:grid;
justify-content: center;
margin-top: 40px;
margin-left: 10px;

}

/* Style input fields */
.input-field {
  width: 500px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
}
.input-field1{
  width: 760px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border: none;
}
/* Style dropdown fields */
.dropdown-field {
  width: 220px;
  margin-right: 50px;
  padding: 10px 10px;
  margin-bottom: 20px;
  border: none;
}
.dropdown-fiel{
  flex: 1;
  padding: 11px 1px;
  border: 1px solid rgb(176, 179, 179);
}

h1{
  text-align: center;
  margin-top: 20px;
}
/* Style flag dropdown */
.flag-dropdown {
  width: 70px; /* Adjust width as needed */
}

/* Style phone field */
.phone-field {
  width: 690px;
  padding: 12px;
  border: none;
}

/* Style the checkbox label */
label {
  display: block;
  margin-top: 10px;
}

/* Style the submit button */
.submit-button {
  width: 95%;
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff; /* Your desired button color */
  color: black;
  font-size: large;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

/* Change button color on hover */
.submit-button:hover {
  background-color: #0056b3; /* Darker color on hover */
}
