/* Center the form container */
.form-container{
  justify-content: center;
  color: black;
  background-color: rgba(128, 128, 128, 0.199);
  height: 850px;
  width: 100%;
  padding: 10px 30px;
}

/* Style the form */
.signup-form {
display:grid;
justify-content: center;
margin-top: 40px;
margin-left: 10px;

}

/* Style input fields */
.input-field {
  width: 500px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
}
.input-field1{
  width: 760px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border: none;
}
/* Style dropdown fields */
.dropdown-field {
  width: 220px;
  margin-right: 50px;
  padding: 10px 10px;
  margin-bottom: 20px;
  border: none;
}
.dropdown-fiel{
  flex: 1;
  padding: 11px 1px;
  border: 1px solid rgb(176, 179, 179);
}

h1{
  text-align: center;
  margin-top: 20px;
}
/* Style flag dropdown */
.flag-dropdown {
  width: 70px; /* Adjust width as needed */
}

/* Style phone field */
.phone-field {
  width: 690px;
  padding: 12px;
  border: none;
}

/* Style the checkbox label */
label {
  display: block;
  margin-top: 10px;
}

/* Style the submit button */
.submit-button {
  width: 95%;
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(98, 98, 185); /* Your desired button color */
  color: black;
  font-size: large;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

/* Change button color on hover */
.submit-button:hover {
  background-color: rgb(118, 118, 172); /* Darker color on hover */
}
.chooselogo{
  margin-top: 20px;
}



@media screen and (max-width: 600px) {
  .form-container{
    justify-content: center;
    color: black;
    background-color: rgba(128, 128, 128, 0.199);
    height: 1010px;
    width: 100%;
    padding: 10px 30px;
  }
  .input-field {
    width: 200px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
  }
  .input-field1{
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: none;
  }
  /* Style dropdown fields */
  .dropdown-field {
    width: 80%;
    padding: 10px 10px;
    margin-bottom: 20px;
    border: none;
  }
  .checkbox{
    margin-top: 20px;
  }
  .dropdown-fiel{
    flex: 1;
    padding: 11px 1px;
    border: 1px solid rgb(176, 179, 179);
  }
  
  h1{
    text-align: center;
    margin-top: 20px;
  }
  /* Style flag dropdown */
  .flag-dropdown {
    width: 60px; /* Adjust width as needed */
  }
  
  /* Style phone field */
  .phone-field {
    width: 64%;
    padding: 12px;
    border: none;
  }
  .submit-button {
  width: 80%;
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(98, 98, 185); /* Your desired button color */
  color: black;
  font-size: large;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.signup-form {
  display: grid;
  justify-content: center;
  margin-top: 40px;
  margin-left: 40px;
  }
  .flag-dropdown {
    width: 50px; 
  }
}